.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 60px;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
} 

.nav ul li{
    font-size: 16px;
    color: #505F98;
    font-weight: 500;
}

.nav ul li a{
    text-decoration: none;
    margin-left: 5px;
}

.nav h1{
    color: #37447E;
    font-size: 1.4rem;
}

.btn{
    background: #111B47;
    width: 100px;
    margin-right: 10px;
    height: 26px;
    color: #ffff;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media screen and (min-width: 1440px) {
    .container{
        max-width: 1440px;
        margin: 0 auto;
        
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    
    .nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 4rem;
    } 
    
    .nav ul li{
        font-size: 16px;
        color: #505F98;
        font-weight: 500;
    }
    
    .nav ul li a{
        text-decoration: none;
    }
    
    .nav h1{
        color: #37447E;
        font-size: 1.6rem;
    }
    
    .btn{
        background: #111B47;
        width: 160px;
        height: 26px;
        color: #ffff;
        border-radius: 3px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .btn a{
        font-size: 12px;
    }
}