.container{
    max-width: 1440px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;

    align-items: center;
    height: 60px;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
} 

.nav ul li{
    font-size: 1.5rem;
    color: #505F98;
    font-weight: 500;
}

.nav h1{
    color: #37447E;
    font-size: 1.6rem;
}

.btn{
    background: #111B47;
    width: 160px;
    height: 26px;
    align-items: center;
    color: #ffff;
    border-radius: 3px;
}